<!DOCTYPE html>
<html>
  <body>

    <div>
      Hi, <%= @user.first_name %>!
    </div>

    <div>Your account has been created. Welcome to
      <%= link_to "BOOGif", @root_url %>!
    </div>
    <div>  If you need some help finding your way around, check out
      <%= link_to "How to use BOOGif", @help_url %>
    </div>
    
    
  </body>

</html>
