<!DOCTYPE html>
<html>
  <body>

    <div>
      Hi <%= @user.first_name %>,
    </div>
    <br/>
    <div>Welcome to BOOGiF! Your account has been created.</div>
	<div>Please verify your account by using <%= link_to "this link", @verification_url %></div>

    <br />
    <div>  If you need some help finding your way around, check out
      <%= link_to "How to use BOOGiF", @help_url %>
    </div>

    <%= render partial: "signature" %>
    
  </body>

</html>
