<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>

    <div>
      Hi <%= @to_user.first_name %>,
    </div>
    <br />
    <div> <%= @from_user.full_name %> would like to connect to you on BOOGiF.</div>
    <br />
    <div>You can respond <%= link_to "here", @connect_url %>!</div>
    
    <%= render partial: "signature" %>
        
  </body>

</html>
