<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>

    <div>
      Hi <%= @to_user.first_name %>,
    </div>
    
    <div> <%= @from_user.full_name %> would like to connect to you on BOOGiF.</div>
    <div>You can respond <%= link_to "here", @connect_url %>!</div>

    <br/>
    Thanks,<br/>
    BOOGiF team

        
  </body>

</html>
