<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>

    <div>
      Hi <%= @from_user.first_name %>,
    </div>
    
    <div> <%= @to_user.full_name %> has confirmed your connection on BOOGiF.  Congratulations!</div>
    
    <br/>
    Thanks,<br/>
    BOOGiF team

        
  </body>

</html>
