<!DOCTYPE html>
<html>
  <body>

    <div>
      Hi <%= @user.first_name %>!
    </div>
    <br/>
    <div>Welcome to BOOGiF! Your account has been created.</div>
    <br />
    <div>A password has been generated for you, and it is: <%= @password%></div>
    <br />
    <div>We recommend you to change it for one you can easily remember. To do so you should go to Settings in order to input a new password.</div>
    <br />
    <div>If you need some help finding your way around, check out
      <%= link_to "How to use BOOGiF", @help_url %>
    </div>

    <%= render partial: "signature" %>
    
  </body>

</html>
