<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>

    <div>
      Hi,
    </div>
    
    <div>You have been invited to BOOGif by <%= @user.full_name %>, who says:</div>
    <br />
    
    <div style="white-space: pre-wrap"><%= @message %></div> 
   
  </body>

</html>
