<!DOCTYPE html>
<html>
  <body>

    <div>
      Hi <%= @user.first_name %>,
    </div>
    <br />
    <div>Your password has been reset to: <b><%= @password %></b> </div>
    <br />
    <div>We recommend you change this password now. </div>
    <br />
    <div>
      Log into <%= link_to "BOOGiF", @login_url %>, go to Settings and input a new password in the fields “Password” and “Re-enter password”. Then Save the change.
    </div> 

    <%= render partial: "signature" %>
    
  </body>

</html>
