<!DOCTYPE html>
<html>
  <body>

    <div>
      Hi, <%= @user.first_name %>
    </div>

    <div>You recently requested that your password be reset.</div>
    <div>Your new password is <%= @password %></div>
    <div> Please login and change your password <%= link_to "here", @login_url %> </div>
    
    
  </body>

</html>
