<!DOCTYPE html>
<html>
  <body>

    <div>
      Hi <%= @user.first_name %>,
    </div>

    <div>Your password has been reset to <%= @password %>. We recommend you change it by: </div>

    <div>1. Signing in to your BOOGiF account with the temporary password <%= @password %> </div>
    <div>2. Go to Settings and input the fields Password and Re-enter password. </div>

    <br/>
    Thanks,<br/>
    BOOGiF team
    
  </body>

</html>
