<% provide(:page_header, 'Edit Profile Information') %>

<div class="row-fluid">
  <div class="span12">
    <%= render partial: "users/form", locals: {sign_in: false, submit_button_text: "Save changes"} %>
  </div>
</div>
