<% provide(:page_header, 'Sign up') %>

<div class="row-fluid">
  <div class="span8">
    <%= render partial: "users/form", locals: {sign_in: true, submit_button_text: "Sign up!"} %>
  </div>
</div>

