<% provide(:page_header, 'Sign up') %>

<div class="row-fluid">
  <div class="span8">
    <%= render partial: "users/form", locals: {submit_button_text: "Sign up!"} %>
    <p>Or, if you already have an account: <%= link_to "Sign in!", sign_in_path %></p>
  </div>
</div>

