<% provide(:page_header, 'Password reset') %>

<div class="row-fluid">
  <div class="span8">

    <div>
      It happens to the best of us. Just type in your login email and hit reset!
    </div>
    
    <%= form_tag reset_password_path, method: :get do %>
    
    
    <%= email_field_tag "email" %>
    
    <%= submit_tag "Reset", class: "btn btn-large btn-info" %>
    <%= link_to "Cancel", home_path, class: "btn btn-large btn-danger" %>
    <% end %>
    
  </div>
</div>
