<h1>Password reset</h1>

<div class="row-fluid">
  <div class="span1">
  </div>
  <div class="span8">
    
    <%= form_tag reset_password_path, method: :get do %>
    
    <div>
      It happens to the best of us. Just type in your login email and hit reset!
    </div>
    <%= email_field_tag "email" %>
    
    <%= submit_tag "Reset", class: "btn btn-large btn-primary" %>
    
    <% end %>
    
  </div>
</div>
