<% provide(:page_header, 'THE RIGHT GIFT THE EASY WAY!') %>
<div class="intro-video">

  <%= image_tag("watch_video.png") %>
  <br />
  <%= image_tag("video_teaser.png") %>
  <br />
  <%= link_to "JOIN TODAY", sign_up_path, class: "btn btn-large btn-primary" %>
    

</div>
