<% provide(:page_header, 'THE RIGHT GIFT THE EASY WAY!') %>

<div class="hero-unit">
  <h1>THE RIGHT GIFT, THE EASY WAY!</h1>
  <p>
    Do you want to find the right gift and always receive what you want?
    Then BOOGiF is the solution you need.
  </p>

  <p>
    <%= link_to "JOIN TODAY", join_path, class: "btn btn-large btn-success" %>

  	<span style="margin: 0 15px;">Or login using facebook</span>

  	<%=link_to (image_tag "signup-facebook.png", :style=> "width: 160px;height: 42px;"), "/auth/facebook", id: "sign_in"%>
  </p>
</div>

