<% provide(:page_header, "My Events") %>
<div class="event">
  <div class="row-fluid">
    <div class="span8">
       <div class="event-small">
	<%= link_to "Create new event or reminder", new_event_path %>
      </div>
           
      <h2>My Events & Reminders: </h2>
      
      <% current_user.events.each do |e| %>
      <%= render partial: "events/show_small", locals: {event: e} %>      
      <% end %>

      
      <h2>You're invited to...</h2>

      <% current_user.invited_events.each do |e| %>
      <%= render partial: "events/show_small", locals: {event: e} %>      
      <% end %>

      
    </div>
    <div class="span2"></div>
  </div>
</div>
