<% provide(:page_header, "New Event") %>
<div class="event">
  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
      <%= render partial: "events/form", locals: {disable_all: false}%>      
    </div>
    <div class="span2"></div>
  </div>
</div>

    
