<% provide(:page_header, 'Event') %>
<div class="event">
  <div class="row-fluid">
    <div class="span8">
      <%= render partial: "events/form", locals: {disable_all:
	  !current_user?(@event.owner)}  %>      
    </div>
    <div class="span2"></div>
  </div>
</div>
