<% provide(:page_header, 'About BOOGiF') %>

<h2>About BOOGiF</h2><br />

<p>BOOGiF is a tool that helps you to express what you want from any online store.</p>
<p>BOOGiF is a free, fun and easy way to share with family and friends a list of things you want. It is a gift registry, reinvented.</p>
<p>Please, be aware that BOOGiF is currently in beta, meaning that may still be kinks to work out. So feel free to send over any feedback (or bugs you’ve spotted) to <a href="mailto:support@boogif.com">support@boogif.com</a>.</p>
<p>We look forward to help you celebrate all the special occasions and people in your life.</p>
<p>Read more on our <a href="/how_to_use">how it works page</a> or <a href="<%=join_path%>">sign up</a> today.</p>

<br />

<h2>BOOGiF is for:</h2><br />
<h3>Gift Givers:</h3>
<ol>
  <li><%=link_to "Sign up", join_path%> today and search for family and friends in BOOGiF.</li>
  <li>Connect with them.</li>
  <li>Visit their profile and find exactly what they want and where to find it.</li>
</ol>
<br />
<h3>Gift Receivers:</h3>
<ol>
  <li><%=link_to "Sign up", join_path%> today and start adding products to your list from any online store by using this <a href="#tools">TOOL</a>.</li>
  <li>If you don’t know exactly what you want or haven’t found it yet you can still express a general desire through a short post in your profile that will be only visible to your family and friends.</li>
  <li>Connect with family and friends and let them discover and give you the things you want and enjoy.</li>
</ol>
