<% provide(:page_header, 'About BOOGiF') %>

<h2>About BOOGiF</h2><br />
<p>Yosh Ubieda founded BOOGiF because he was tired of trying to guess what to buy as a gift for his family and friends.</p>
<p>So, he decided to build a solution that helps you to know exactly what to buy and where to find it.</p>
<p>BOOGiF is also a tool that helps you to express what you want from any retail or online store.</p>
<p>BOOGiF is a free, fun and easy way to share with family and friends a list of things you want. It is a gift registry, reinvented.</p>
<p>Please, be aware that BOOGiF is currently in beta, meaning that may still be kinks to work out. So feel free to send over any feedback (or bugs you’ve spotted) to <a href="mailto:support@boogif.com">support@boogif.com</a>.</p>
<p>Thank you for taking the time to visit BOOGiF. We look forward to help you celebrate all the special occasions and people in your life.</p>
<p>Read more on our <a href="/how_to_use">how it works page</a> or <a href="<%=join_path%>">sign up</a> today.</p>
