<% provide(:page_header, 'About BOOGiF') %>

<h2>We Help Gift Givers And Receivers!</h2>

Every time you need to find and buy a gift is a stressful time - even for close friends.
On the other hand, it's also disappointing or wasteful when someone forgets to buy
you a gift, or simply gives you something you didn't want.

Here at BOOGiF, we've been on both sides of this too many times - and we're here
to help you!

Now image a simple and convenient solution that helps you:<br/>
<ul>
<li>Find the right gift for every event and every person.</li>
<li>Make sure everyone gets the right gift for you.</li>
</ul>

