<% provide(:page_header, 'Contact') %>
<p>We appreciate your feedback.  Please let us know about your BOOGiF experience or other concerns at

  <a href="mailto:info@boogif.com">info@boogif.com</a></p>
