<% provide(:page_header, 'Contact') %>
<h2>Contact Us</h2>
<h3>How do I contact BOOGiF?</h3>
<ul>
<li>email: <a href="mailto:support@boogif.com">support@boogif.com</a></li>
<li>twitter: <a href="https://twitter.com/BOOGiFconnect">@BOOGiFconnect</a></li>
<li>facebook: <a href="https://www.facebook.com/BOOGiF">facebook.com/BOOGiF</a></li>
</ul>
BOOGiF is currently in beta, meaning that may still be kinks to work out. So feel free to send over any feedback (or bugs you’ve spotted) to <a href="mailto:support@boogif.com">support@boogif.com</a>.
