<% provide(:page_header, 'How to use') %>

<p>Here you will learn the secrets of how to use BOOGiF</p>

<div class ="how-to-use-info">
  <%= link_to     "javascript:(function(){try{var x=document.getElementsByTagName('head').item(0);var o=document.createElement('script');if('object'!=typeof(o)){o=document.standardCreateElement('script');}o.setAttribute('src','http://warm-crag-9504.herokuapp.com/add_gift.js');o.setAttribute('type','text/javascript');x.appendChild(o);}catch(e){alert('Error: '+e);}})();" do %>

  <%= image_tag("logo_with_side.png", height: 50) %>

  <% end %>
  <b>Add To BOOGif button</b> - Right click and bookmark this button, or drag this button to your bookmark bar!  Then, when you see something you want to add, click the bookmark and it will be added to your gift list! 
</div>
<div class="how-to-use-info">
  <%= link_to "Invite",  profile_invites_path %> more friends to get the more out of BOOGiF.  It's free!
</div>
