<h2>Information for online stores/developers</h2>

If you'd like to add an item to a user's book of gifts,add this to your pages <code>head</code> tag:
<div>
  <code>
    &lt;script src="<%=APP_PUBLIC_URL%>/assets/add_gift.js" type="text/javascript"&gt;&lt;/script&gt;
  </code>
</div>

Then, add this javascript code to the <code>onclick</code> handler of one of your buttons:  
<div>
  <code>
    giftAdder('YOUR_PRODUCT_NAME','YOUR_PROUDCT_PRICE','YOUR PRODUCT DESCRIPTION');
  </code>
</div>

