@import "bootstrap";


/* footer */

footer {
    border-top: 1px solid #eaeaea;
    margin-top: 15%;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 10px;
}



footer small {
    float: left;
}

