// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-small {
    margin-bottom: 3%;
}

.event-name {
    width: 50%;
}

.users-list-select {
    height: 75px;
    width: 50%;
    overflow: auto;
}