// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lightBorder: 2px solid #eaeaea;

.user h3 {
    text-align: center;
    text-decoration: underline;
}

.profile-picture {
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 5px;    
}

.lower-profile-page {
    padding-top: 3%;
    border-top: $lightBorder;
}

.post-text {
    margin-top: 20px;
    min-width: 100%;
}


.post-box .btn {
    font-size: 12px;
    margin-top: 10px;
}

.user-small .btn {
    font-size: 10px;
}

.user-small {
    margin-bottom: 20px;
}

.connection-search-btn {
    font-size: 10px;
    margin-top: -8px;
}
