// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user h3 {
    text-align: center;
    text-decoration: underline;
}

.profile-picture {
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 5px;    
}

.lower-profile-page {
    padding-top: 3%;
}

.post-text {
    width: 800px;
    margin-top: 20px;
}