<footer class="footer centered">
  <small>
    Example footer!
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Terms & Conditions", '#' %></li>

      
    </ul>
  </nav>
</footer>
